[submodule "sd-core"]
	path = sd-core
	url = https://github.com/vasuemme111/sd-core.git
[submodule "sd-client"]
	path = sd-client
	url = https://github.com/vasuemme111/sd-client.git
[submodule "sd-server"]
	path = sd-server
	url = https://github.com/vasuemme111/sd-server.git
[submodule "sd-watcher-afk"]
	path = sd-watcher-afk
	url = https://github.com/vasuemme111/sd-watcher-afk.git
[submodule "sd-qt"]
	path = sd-qt
	url = https://github.com/vasuemme111/sd-qt.git
[submodule "sd-watcher-window"]
	path = sd-watcher-window
	url = https://github.com/vasuemme111/sd-watcher-window.git
[submodule "sd-notify"]
	path = sd-notify
	url = https://github.com/vasuemme111/sd-notify.git
[submodule "sd-watcher-input"]
	path = sd-watcher-input
	url = https://github.com/vasuemme111/sd-watcher-input.git
